nav ul li .top-navigation {
    background: black;
    color: white;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #dddddd;
}

nav ul li a {
    display: block;
    background-color: #dddddd;
}